*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

.gamecontainer{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.gameover{
    /* visibility: hidden; */
    position: relative;
    text-align: center;
    top: 60px;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

#scoreview{
    font-size: 25px;
    color: #661329;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: 30px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}
.dino{
    background-image: url('dino.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.obstacle{
    background-image: url('dragon.png');
    background-size: cover;
    width: 140px;
    height: 90px;
    position: absolute;
    bottom: 0px;
    left: 90vw;
}

.AnimateDino{
    animation: dino 0.5s linear;
}

.Animate-obstacle{
    animation: obstacle 5s linear infinite;
}

@keyframes dino{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 200px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes obstacle{
    0%{
        left: 100vw;
    }
    100%{
        left: -5vw;
    }
}